@charset "ISO-8859-1";

.whitetext {
	color: white;
}

.centertext {
	text-align: center;
}

.jumbotron {
	background: black;
	background-image: url("images/index.png");
}

.descImg {
	height: 5em;
	width: auto;
}

#my-signin2 {
	float: right;
	padding-top: 1em;
}

#c1 {
	background: black;
	width: 100%;
}

#aboutUsP {
	padding-right: 20%;
	padding-left: 20%;
	text-align: center;
}

#aboutUsJ {
	/* background: orange; For browsers that do not support gradients
    background: -webkit-linear-gradient(orange, yellow); For Safari 5.1 to 6.0
    background: -o-linear-gradient(orange, yellow); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(orange, yellow); For Firefox 3.6 to 15
    background: linear-gradient(orange, yellow); Standard syntax */
	
}

h3 {
	
}

#c2 {
	padding-top: 2em;
	padding-bottom: 5em;
}

#loginButton:hover {
	cursor: pointer;
}

#loginButton {
	display: block;
}

#buttonImage {
	display: table-cell;
	vertical-align: middle;
	padding: 0.1em;
	padding-right: 1em;
}