@charset "ISO-8859-1";

html {
  overflow-y: scroll;
}

.whitetext {
    color: white;
}
.centertext {
    text-align: center;
}
#MyDocs {
    padding-top: 70px;
}
.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
ul {
    list-style: none;
    padding: 0;
}
.inner {
    padding-left: 2em;
    overflow: hidden;
}
li {
    margin: .5em 0;
}
a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.75);
	bottom-margin:50px;
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
	border:2px solid red;
    transition: background .3s ease;
	text-decoration: none !important;
}

a.toggle:hover{
	        background: rgba(255, 0, 0, 0.9);
			
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: black;
	color : white;
}
#back-to-top.show {
    opacity: 1;
}