<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="ISO-8859-1" />
<title>Page Title</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="JS/editor.js"></script>
<script type="tinymce/jquery.tinymce.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"></link>
<link rel="stylesheet" href="CSS/editor.css"></link>
</head>
<body>
	<form>
		<textarea name="content" cols="50" rows="15"> 
        This is some content that will be editable with TinyMCE.
        </textarea>
	</form>
</body>

</html>
